[Unit]
Description=Backup photos from sony device
Wants=mnt-sony.mount
After=mnt-sony.mount

[Service]
ExecStart=/media/jetson/data/source/autobackup/sync.sh

[Install]
WantedBy=mnt-sony.mount